<h2>My Users</h2>
<ul class="users">
  <li *ngFor="let user of users" (click)="onSelect(user)">
      {{user.voornaam}} {{user.naam}}
      <ul>
           <li>
                e-mail: {{user.email}}
           </li>
           <li>
                geslacht: {{user.geslacht}}
           </li>
           <li>
                leeftijd: {{user.leeftijd}}
           </li>
           <li>
                status: {{user.userStatus}}
           </li>
      </ul>
  </li>
</ul>

<div *ngIf="selectedUser">
  <h2>{{selectedUser.naam | uppercase}} Details</h2>
  <div>
    <label>Voornaam:
      <input [(ngModel)]="selectedUser.voornaam" placeholder="voornaam"/>
    </label>
    <br/>
    <label>Naam:
      <input [(ngModel)]="selectedUser.naam" placeholder="naam"/>
    </label>
    <br/>
    <label>e-mail:
      <input [(ngModel)]="selectedUser.email" placeholder="email"/>
    </label>
    <br/>
    <label>Geslacht:
      <input [(ngModel)]="selectedUser.geslacht" placeholder="geslacht"/>
    </label>
    <br/>
    <label>Leeftijd:
      <input [(ngModel)]="selectedUser.leeftijd" placeholder="leeftijd"/>
    </label>
    <br/>
    <label>Status:
      <input [(ngModel)]="selectedUser.userStatus" placeholder="userStatus"/>
    </label>
    <input type="button" (click)="updateUser(user)" value="Gebruiker Aanpassen">
  </div>
</div>
